altgraph==0.17.4
auto-py-to-exe==2.42.0
bottle==0.12.25
bottle-websocket==0.2.9
cffi==1.16.0
contourpy==1.2.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
Eel==0.16.0
fonttools==4.47.2
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
greenlet==3.0.3
importlib-metadata==7.0.1
importlib-resources==6.1.1
kiwisolver==1.4.5
matplotlib==3.8.2
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
numpy @ file:///C:/b/abs_16b2j7ad8n/croot/numpy_and_numpy_base_1704311752418/work/dist/numpy-1.26.3-cp39-cp39-win_amd64.whl#sha256=02e606e23ca31bb00a40d147fd1ce4dd7d241395346a4196592d5abe54a333bc
packaging==23.2
pandas==2.1.4
pefile==2023.2.7
pillow==10.2.0
pycparser==2.21
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
six==1.16.0
tk==0.1.0
tzdata==2023.4
whichcraft==0.6.1
zipp==3.17.0
zope.event==5.0
zope.interface==6.1
